.containerHeader {
    background-color: #000000;
    width: 100%; 
    display: flex;
    justify-content: end;
}
.containerHeader ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    padding: 5px;
}
.containerHeader ul li {
    padding: 10px 15px;
    margin: 4px 0px;
    background-color: bisque;
    border-radius: 8px;
    width: 20%;
    text-align: center;
}
.containerHeader ul li a {
    text-decoration: none;
}
.hero {
    height: auto;
    background-image: url("../img/Fundo-Hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.containerHero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}
.containerHero img {
    width: 150px;
    border-radius: 70%;
}
.containerHero h1 {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    margin: 10px 0px;
}
.containerHero p {
    font-size: 1.6em;
    color: #fff;
}
.containerHero span {
    font-weight: bold;
    color: #c2b7b7;
}
.containerSobre {
    width: 100%;
    display: flex;
    border: 1px solid red;
    padding: 45px;
    box-sizing: border-box;
    background-color: #c2b7b7;
}
.conatinerSobreImg img {
    width: 350px;
}
.conatinerSobreImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.containerSobreText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.containerSobreSkills {
    display: flex;
    border: 1px solid red;
    border-radius: 6px;
    justify-content: space-evenly;
    height: 150px;
    align-items: center;
    margin-top: 8px;
}
.sobreSkillsOne {
    display: flex;
    flex-direction: column;
}
footer {
    height: 90px;
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}